@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    font-size: 16px;
    font-family: 'Poppins';
    --text-primary: #b6b6b6;
    --text-secondary: #acd7ec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #d6edff;
    --color-dark: #636949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);    
}

* {
    margin: 0;
    padding: 0;
}

/* custom scrollbar */
body::-webkit-scrollbar {
width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #8b95c9;
}

/* main content styling */
body {
    background: var(--color-info-light);
}
main {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
}

/* sidebar styling */
.sidebar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 1;
}
.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sidebar-item {
    width: 100%;
    transition: 200ms;
}
.sidebar-item:last-child{
    margin-top: auto;
}

.item-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: 200ms;
}
.item-text {
    display: none;
    color: var(--text-primary);
    margin-left: 1rem;
}
.material-symbols-outlined {
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* sidebar animation */
.sidebar:hover {
    width: 16rem;
}
.sidebar:hover .item-text {
    display: block;
}

/* sidebar item animation */
.sidebar-item:hover {
    background: var(--bg-secondary);
}
.sidebar-item:hover .item-text{
    color: var(--text-secondary);
}
.sidebar-item:hover .material-symbols-outlined{
    color: var(--text-secondary);
}


/* TODO: styling divs in main content section*/
/* TODO: remove background colors as each is completed */
.top {
    background: var(--color-primary);
    display: flex;
    height: 5rem;
    position: fixed;
    margin-left: 5rem;
    top: 0;
    width: 100%;
    border-bottom: solid var(--color-dark) 2px;
}
.top-left {
    background: var(--color-danger);
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 30vw;
    height: 100%;
}
.top-right {
    background: var(--color-warning);
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 64vw;
    height: 100%;
}

.bottom {
    
}

/* TODO: write CSS for login page */