/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    min-height: 100%;
    margin: 0;
}

i {
    transition: all 0.3s;
}

a {
    transition: all 0.3s;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

div {
    transition: all 0.3s;
}

span {
    transition: all 0.3s;
}

.body-container{
    background-color: white;
}

.main-container {
    overflow: hidden;
    display: flex;

    height: 100%;
}

.context-container {
    width: 95%;
    height: 90vh;
    margin: 0;

    display: flex;
    flex-direction: row;
}

.titled-container {
    width: available;
    height: 100%;

    display: flex;
    align-content: flex-start;
    justify-items: flex-start;
    flex-direction: column;
}

.title-bar {
    width: 100vw;
    height: 10vh;

    display: flex;

    border-bottom: solid #CCCCCC 2px;
}

.title {
    width: 100%;
    height: max-content;
    margin: 5px 20px;

    display: flex;
    align-self: center;
    justify-self: left;

    font-size: 5vh;
    font-family: Poppins, serif;
    color: black;
    text-decoration: none;
}

.side-menu {
    width: 32em;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-items: center;

    border-right: solid #CCCCCC 2px;
}

.side-menu-items {
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.side-menu-circle {
    margin: 5px 5px 20px 5px;

    color: #A6D4FF;
    font-size: 5vh;
}

.side-menu-horizontal-rule {
    margin: 30px 0;

    color: #717171;
    font-size: 10vh;
}

.side-menu-square {
    margin: 10px 5px;

    font-size: 4vh;
}

.square-red {
    color: #F89EB9;
}

.square-yellow {
    color: #ECD583;
}

.square-green {
    color: #AEE583;
}

.side-menu a:hover {
    opacity: 50%;
}

.task-list {
    width: 30em;
    height: 100%;

    display: flex;
    align-content: flex-start;
    justify-items: center;
    flex-direction: column;


    overflow: scroll;
    overflow-x: hidden;

    border-right: solid #CCCCCC 2px;
}

.scrollable-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.task-item {
    width: 100%;
    height: 12vh;
    margin: 0;
    padding: 5px;

    display: flex;
    align-content: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    border-bottom: solid #e1e1e1 2px;

    cursor: pointer;
}

/* The container */
.container {
    display: block;
    margin-right: 4%;
    padding: 11.5% 5%;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.task-item-text-div {
    width: auto;
    margin: 0;
    padding: 5px;

    display: flex;
    align-content: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.task-item-title {
    margin: 0 10px;
    padding: 0;

    font-size: 3vh;
    font-weight: bold;

    font-family: Poppins, serif;
}

.task-item-text {
    margin: 0 10px;

    font-size: 2vh;

    font-family: Poppins, serif;
}

.task-expanded {
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    align-content: flex-start;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.task-expanded-info-bar {
    width: 100%;
    height: 20vh;
    padding: 10px;

    display: flex;
    align-content: left;
    justify-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.task-expanded-info-text {
    width: 55%;
    height: available;
    padding: 10px;

    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.task-expanded-title {
    width: 100%;
    height: max-content;

    display: flex;
    align-content: center;
    justify-content: space-between;

    font-size: 5vh;

    font-family: Poppins, serif;
}

.task-requirements-due {
    width: 70%;

    display: flex;
    align-content: center;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
}

.task-requirements-due-text {
    width: 100%;
    height: max-content;

    display: flex;
    align-content: center;
    justify-content: flex-start;

    font-size: 2vh;

    font-family: Poppins, serif;
}

.task-submit-button-div {
    width: 30%;
    height: 40%;
    margin-top: 2em;

    display: flex;
    align-content: center;
    justify-content: center;
}

.task-submit-button {
    background-color: #269999;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

    font-size: 3vh;
    font-family: Poppins, serif;
  }

.task-details {

    font-size: 2vh;
    font-family: Poppins, serif;
}
