<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drill Scheduler</title>

    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- sidebar -->
    <aside class="sidebar">
        <ul class="sidebar-list">
            <li class="sidebar-item">
                <a href="#" class="item-link">
                    <span class="material-symbols-outlined">edit</span>
                    <span class="item-text">Edit Event</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="item-link">
                    <span class="material-symbols-outlined">add</span>
                    <span class="item-text">New Event</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="item-link">
                    <span class="material-symbols-outlined">logout</span>
                    <span class="item-text">Log Out</span>
                </a>
            </li>
        </ul>
    </aside>

    <!-- content -->
    <main">
        <!-- sticky -->
        <div class="top">
            <!-- calendar -->
            <div class="top-left">
                <h2>Dates go here</h2>
            </div>
            <!-- event -->
            <div class="top-right">
                <h1>Agenda</h1>
            </div>
        </div>

        <!-- not sticky -->
        <div class="bottom">
            <!-- calendar -->
            <div class="bottom-left">

            </div>
            <!-- event -->
            <div class="bottom-right">

            </div>
        </div>
    </main>
</body>
</html>