<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>

    <link rel="stylesheet" href="UI.css">
    <script src="https://kit.fontawesome.com/a665c629bb.js" crossorigin="anonymous"></script>
</head>
<body class="body-container">

<div class="main-container">

    <!-- Sidebar -->
    <div class="side-menu">
        <!-- Sidebar Items -->
        <div class="side-menu-items">
            <i class="fas fa-circle side-menu-circle"></i>

            <i class="fas fa-square side-menu-square square-green"></i>
            <i class="far fa-square side-menu-square square-yellow"></i>
            <i class="fas fa-square side-menu-square square-red"></i>
        </div>
    </div>

    <!-- Titled Container -->
    <div class="titled-container">

        <!-- Title Bar -->
        <div class="title-bar">
            <h1 class="title">Task Tracker</h1>
        </div>

        <!-- Context Container -->
        <div class="context-container">

            <!-- Task List -->
            <div class="task-list">

                <!-- Task List Item -->
                <div class="task-item">
                    <span class="task-item-title">Task Title 1</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 2</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 3</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 4</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 5</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 6</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 7</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 8</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 9</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 10</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>
                <div class="task-item">
                    <span class="task-item-title">Task Title 11</span>
                    <span class="task-item-text">Task Subject</span>
                    <span class="task-item-text">Task Due Date</span>
                </div>



            </div>

            <!-- Task Expanded View -->
            <div class="task-expanded">

                <!-- Task Title Bar-->
                <div class="task-expanded-title-bar">
                    <span class="task-expanded-title">Task Title</span>

                    <div class="task-expanded-info-submit-bar">
                        <span class="task-requirements-due-text">Due on 4/26/2022</span>
                        <span class="task-requirements-due-text">Must be submitted as a PDF</span>
                        <div class="task-requirements-due">

                        </div>

                        <!--
                        <div class="task-submit-button-div">
                            <a class="task-submit-button-text">Test</a>
                        </div>
                        -->
                    </div>
                </div>

                <!-- Task Details -->
                <div class="task-details">

                    <p>The main objective of this task is to do this, this, and this. Here, have some placeholder text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet neque auctor, pulvinar dolor eget, facilisis ante. Quisque vel nisl aliquam purus blandit eleifend. Sed ac diam nulla. Fusce vestibulum tempor libero, eu suscipit velit vulputate non. Ut arcu ex, vehicula vel ornare sit amet, viverra eu mauris. Nunc dignissim, elit nec pretium volutpat, augue nisi mollis ante, auctor sollicitudin magna eros bibendum lectus. Maecenas et ligula id metus porta pulvinar. Ut ornare fringilla dolor eget elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

                </div>

            </div>

        </div>

    </div>

</div>

</body>

<script>


</script>

</html>
